doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title TECSUP-UTEC
        link(rel="stylesheet", href="https://use.typekit.net/xqw4rbd.css")
        link(rel='stylesheet', href='css/style.css')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='js/main.js')
