
<div class="slider__content">
  <div class="slider animate--top-bottom">
    <div class="owl-main owl-carousel owl-theme">
      <div class="item slider__content-img">
        <div class="slider__item content" data-hash="zero">
          <div class="slider__item-link">
            <div class="slider duotone darken lighten" style="background-image:url('img/hero2.png')">
              <div class="column-encima"></div>
              <div class="slider__content-info animate--bottom-top-2"><a class="slider__title slider__link" href="article.html">primeros</a>
                <div class="slider__fecha">02 MAY 2018 <a class="slider__link" href="https://www.facebook.com/"><i class="icon-fb-small"></i></a></div><a class="slider__content-btn" href="article.html">
                  <div class="btn btn--bordered btn--bordered-white">Ver programa<i class="icon-arrow-right"></i></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item slider__content-img">
        <div class="slider__item content" data-hash="two">
          <div class="slider__item-link">
            <div class="slider duotone darken lighten" style="background-image:url('img/HERO-IMG.png')">
              <div class="column-encima"></div>
              <div class="slider__content-info"><a class="slider__title slider__link" href="article.html">segundo</a>
                <div class="slider__fecha">02 MAY 2018 <a class="slider__link" href="https://www.facebook.com/"><i class="icon-fb-small"></i></a></div><a class="slider__content-btn" href="#">
                  <div class="btn btn--bordered btn--bordered-white" href="article.html">Ver programa<i class="icon-arrow-right"></i></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item slider__content-img">
        <div class="slider__item content" data-hash="tree">
          <div class="slider__item-link">
            <div class="slider duotone darken lighten" style="background-image:url('img/HERO-IMG.png')">
              <div class="column-encima"></div>
              <div class="slider__content-info"><a class="slider__title slider__link" href="article.html">tercero</a>
                <div class="slider__fecha">02 MAY 2018 <a class="slider__link" href="https://www.facebook.com/"><i class="icon-fb-small"></i></a></div><a class="slider__content-btn" href="article.html">
                  <div class="btn btn--bordered btn--bordered-white">Ver programa<i class="icon-arrow-right"></i></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__dots animate--left-right"><a class="slider__dot button secondary url active" href="#zero"> 
        <div class="slider__dot-text">Cuido mi destino</div></a><a class="slider__dot button secondary url" href="#two">
        <div class="slider__dot-text">Avión solidario</div></a><a class="slider__dot button secondary url" href="#tree"> 
        <div class="slider__dot-text">Medio ambiente</div></a></div>
  </div>
</div>
<div class="slider__content-clip animate animate--bottom-top"></div>