//colors
$latam-blue: #1b0088;
$latam-red: #ed1650;
$latam-plomo: #7D7D7D;


//fonts
$base-font-family:"brandon-grotesque",sans-serif;


//sizes
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1370px;
